.categories
{
    Padding: 6px 14px;
    Width: auto;
    color: #0084ff;
    border-radius: 15px;
    Border: 1px solid #0084ff;
    Margin: 5px;
    Cursor: pointer;
    display: inline-block;
    font-family: Raleway,sans-serif;
    font-size: 12px;
}
#categories_container
{
    display: block;
    padding-top: 16px;
    padding-left: 10%;
    padding-right: 10%;
}
#rest h1
{
    color: #000;
    font-weight: 600;
    padding-left: 10%;
}
#rest h3
{
    font-size: 14px;
    font-weight: 600;
    padding-left: 10%;

}
.thumbnail
{
    Width: 100%;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    Height: 176px;


}
#cards
{
    display: inline-block;
    width: calc(33.3% - 40px);
    box-shadow: 0 5px 20px 0 rgba(0,0,0,.1);
    border-radius: 5px;
    border: 1px solid rgba(0,168,255,.3);
    margin:8px;
    background-color: #fff;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;

}
#grid
{
    padding: 2% 10% ;
    text-overflow: ellipsis;
    display: inline-block;

}
.text-section
{
    Padding: 10px 24px;
    height: 176px;
    text-overflow: ellipsis;
    display: -webkit-box;
  overflow : hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}
#cards h3
{
    font-size: 18px;
    text-align: left;
    Margin: 0;
    padding :0;
    font-weight: 600 ;
    font-family: Raleway,sans-serif;
    word-break: break-all;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.author-container
{
    padding-top: 4px;
    display: inline;
}
.author
{
    color: #0096ff;
    font-size: 14px;
    font-style: Italic;
    font-weight: 500;
    display: inline;
    font-family: Raleway,sans-serif;
}
.date
{
    display: inline;
    color: rgba(0,0,0,0.7);
    font-size: 14px;
    font-weight: 300;
    font-family: Raleway,sans-serif;
}
.text-section p
{
    Font-Size: 14px;
    Font-weight: 400;
    line-height: 1.43;
    color: rgba(0,0,0,.6);
    Margin: 4px 0;
    text-overflow: ellipsis;
    font-family: Raleway,sans-serif;
    height: 100%;
    word-break: keep-all;
    overflow: hidden;
    text-overflow: ellipsis;


}

#foot
{
    Background-color: #172146;
    Padding-top: 80px ;
    margin: 0;
    width: 100%
}
#top-bar
{
    display: block;
    width: 100%;
    margin-right: auto;
    Background-color: #fff;
    box-shadow: 0px 0px 36px black;
    margin :0px;
}
.logo
{
    Width: 130px;
    color: #0084ff;
    width: 100%;
    height: 100%;
    margin-top: 5px;
    font-family: Raleway,sans-serif;
    font-size: 32px;
    font-weight: 900;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.08;
    letter-spacing: -.9px;
    text-align: left;
    display: inline-block;


}
.logo-text
{
    display: block;
    font-weight: 500;
    font-family: 'Raleway', sans-serif;
    font-style: Italic;
    margin: 0;
    -o-object-fit: contain;
    object-fit: contain;
    font-family: Raleway,sans-serif;
    font-size: 1em;
    font-weight: 500;
    font-style: italic;
    font-stretch: normal;
    line-height: .8;
    letter-spacing: .9px;
    color: #000;

}
.drop-down-text
{
    display: inline-block;
}
body
{
    margin: 0;
    background-color: #f2fff6;
}
