.PageWrapper {
  width: 100%;
  box-sizing: border-box;
  padding: 0 8% 4%;
}

.MainHeading {
  margin: 0;
}

.OrdersWrapper {
  width: 100%;
  display: flex;
  align-items: flex-start;
  padding: 24px 0;
}

.FilterWrapper {
  width: 180px;
  margin-top: 25px;
}

.FilterWrapper h3 {
  margin: 0;
}

.FilterOptions {
  display: flex;
  flex-direction: column;
}

.FilterCheckbox {
  margin: 6px 0;
  cursor: pointer;
}

.FilterCheckbox input {
  margin-right: 12px;
}

.OrderTable {
  width: 100%;
  border-collapse: collapse;
  margin-top: 25px;
}

.OrderTable th,
.OrderTable td {
  text-align: left;
  padding: 12px 24px;
  font-size: 14px;
}

.TableRow td {
  background-color: #fff;
  border-bottom: 4px solid #f6f7fb;
}

.PrimaryText {
  color: rgba(0, 0, 0, 0.8);
  font-weight: 500;
}

.SecondaryText {
  color: #8c8c8c;
}

.SearchBoxDiv {
  display: flex;
  justify-content: flex-start;
}

.SearchBox {
  width: 40%;
  padding: 12px 24px;
  font-size: 15px;
  border: 0;
  border-bottom: 2px solid #8c8c8c;
  margin: 0 36px 0 0;
  outline: none;
  margin-right: 20px;
}

.ResetBtn {
  display: inline-block;
  border-radius: 30px;
  padding: 14px 36px;
  font-size: 12px;
  font-weight: 500;
  letter-spacing: 1px;
  background-color: #20b883;
  color: #fff;
  border: none;
  outline: none;
  cursor: pointer;
}
